<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/AppIcon.appiconset\/[ios][universal][1024x1024][][][][][][]"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Tracker/Resources/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: AppIcon.appiconset/1024x1024@3x.png is 3072x3072 but should be 1024x1024.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/AppIcon.appiconset\/[ios][universal][1024x1024][][][][][][]"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Tracker/Resources/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: AppIcon.appiconset/1024x1024@3x.png is 3072x3072 but should be 1024x1024.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
